@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
    --color-background: #050608;
    --color-foreground: #7524E8;
    --color-card: #fff8e7;
    --color-muted: #f6eecf;
    --color-muted-foreground: rgba(0, 0, 0, 0.6);
    --color-primary: #081126;
    --color-accent: #ea7a53;
    --color-border: rgba(0, 0, 0, 0.1);
    --color-success: #16a34a;
    --color-destructive: #dc2626;
    --color-subscription: #8fd1bd;

    --font-sans: sans-regular;
    --font-sans-medium: sans-medium;
    --font-sans-semibold: sans-semibold;
    --font-sans-bold: sans-bold;
    --font-sans-extrabold: sans-extrabold;
}